In [ ]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.linear_model import LinearRegression# import the function
from sklearn.model_selection import train_test_split

In [ ]:
df=pd.read_csv('LGD_DATA.csv')
df.head()

In [96]:
df_new=pd.get_dummies(df,drop_first=True)
df_new.head()

,Ac_No,Age,Years of Experience,Number of Vehicles,Losses in Thousands,Gender_M,Married_Single
0,150024,24,5,1,203.319595,1,0
1,144880,31,10,1,402.197302,0,1
2,133742,56,37,1,553.132096,1,0
3,151282,52,31,1,292.430579,0,0
4,174407,20,3,1,246.540576,1,1

In [97]:
#decide  your regressor and predictor variables
x=df_new.iloc[:,[1,3,5,6]]#gives the IDV
y=df_new['Losses in Thousands']

In [98]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)
ln=LinearRegression()#call the function
ln.fit(x_train,y_train)#fit the model
print(ln.intercept_)# get the intercepts
print(ln.coef_)#get the betas

539.6565230110673
[ -6.14900704  -1.79059246  97.23493268 136.7922503 ]

In [110]:
#get the error parameter
y_trainp=ln.predict(x_train)
print(y_trainp)
y_testp=ln.predict(x_test)
print(y_testp)

[211.59660727 232.98340077 394.37167922 ... 165.34432335 508.63499083
 336.0908435 ]
[534.92615816 495.96502648 397.21599832 ... 240.92300027 437.69122548
 321.5015043 ]

In [111]:
print(y_train.head())

14021    669.103689
10757    350.160528
12299    340.235414
12478    482.276457
3207     353.951666
Name: Losses in Thousands, dtype: float64

In [112]:
SSE=sum((y_train-y_trainp)**2)
print(SSE)

479669120.804764

In [113]:
TSS=sum((y_train-np.mean(y_train))**2)
print(TSS)

689725424.274319

In [114]:
R2train=1-(SSE/TSS)
print(R2train)

0.30455061692203333

In [115]:
SSEtes=sum((y_test-y_testp)**2)
print(SSEtes)

207618480.25806

In [116]:
TSStes=sum((y_test-np.mean(y_test))**2)
print(TSStes)

294516261.81970507

In [117]:
R2test=1-(SSEtes/TSStes)
print(R2test)

0.2950525754494383